.container {
  
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.container__titulo {
  font-size: 2.25rem;
  font-family: "Krona One", sans-serif;
  line-height: 56px;
  text-align: center;
}

/*Estilizando a timeline */

.timeline{
  position: relative;
  padding: 5% 10%;
  width: auto;
}

.timeline::before{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 85%;
  background: var(--branco);
}

.timeline ul{
  margin: 0;
  padding: 0;
}

.timeline__item{
  list-style: none;
  position: relative;
  margin: 20px 0;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline__item:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}

.timeline__item:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.timeline__item__conteudo{
  padding-bottom: 20px;
}

.timeline__item:nth-child(odd)::before{
  content: '';
  position: absolute;
  top: 28px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: var(--azul);
  border-radius: 50%;
}

.timeline__item:nth-child(even)::before{
  content: '';
  position: absolute;
  top: 28px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: var(--azul);
  border-radius: 50%;
}

.item__titulo{
  margin: 0;
  padding: 0;
  font-family: "Krona One", sans-serif;
  color: var(--azul);
}

.item__texto{
  margin: 10px 0 0;
  padding: 0;
}

.timeline__item:nth-child(odd) .item__data{
  position: absolute;
  top: 15px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: var(--azul);
  color: var(--preto);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.timeline__item:nth-child(even) .item__data{
  position: absolute;
  top: 15px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: var(--azul);
  color: var(--preto);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}


@media (max-width: 1200px) {
  .container {
    padding: 5%;
    height: 72vh;
  }
}
